/* Defaults */
body {
  color: #20c20e;
  background-color: black;
  font-family: "Noto Sans Mono", monospace;
  transition: all 300ms ease-in-out;
  letter-spacing: 1.5px;
}
/* Header */
header {
  background-color: rgba(16, 220, 70, 0.2);
}
header a {
  transition: all 300ms ease-in-out;
}
header a:hover {
  color: #67f856;
}
/* Sections */
.section-container {
  margin: 60px 0 60px 0;
}
.section-buttons button {
  padding: 5px 15px 5px 15px;
  transition: all 300ms ease-in-out;
}
.section-container button:hover {
  color: #67f856;
}
.active {
  color: #67f856;
  box-shadow: #67f856 2px 3px;
  transition: all 300ms ease-in-out;
}
/* Sections - URLTOCODE // CODETOURL Combined */
.input-bar {
  width: 500px;
  border: solid 3px #20c20e;
}
.input-bar input {
  width: 380px;
  padding: 10px 30px 10px 30px;
}
.input-bar button {
  width: 120px;
}
.output-container button {
  width: 120px;
  height: 50px;
}
.output-box {
  width: 380px;
  height: 50px;
  border: solid 3px #20c20e;
  transition: all 300ms ease-in-out;
}
.output-box:hover {
  border: solid 3px #67f856;
}
.loading-error {
  width: 500px;
  height: 100px;
}
/* Docs */
.docs h1 {
  text-align: center;
  font-size: 30px;
}
.docs p {
  text-align: left;
  font-size: 15px;
}
.divider {
  background-color: #67f856;
}
/* Footer */
.footer-container {
  background-color: rgba(16, 220, 70, 0.2);
}
.footer-exec {
  width: 40%;
}
.footer-container a {
  transition: all 300ms ease-in-out;
}
.footer-container a:hover {
  color: #67f856;
}
@media only screen and (max-width: 700px) {
  .header-container {
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }
  .header-title {
    font-size: 40px;
  }
  .socials {
    width: 40%;
    font-size: 12px;
  }
  /* Sections */
  .section-container {
    margin: 30px 0 30px 0;
    gap: 40px;
  }
  .section-buttons {
    gap: 20px;
  }
  .section-buttons button {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
  /* Sections - URLTOCODE // CODETOURL Combined */
  .input-bar {
    width: 280px;
    border: solid 2px #20c20e;
  }
  .input-bar input {
    width: 200px;
    padding: 5px 10px 5px 10px;
  }
  .input-bar button {
    font-size: 12px;
    width: 80px;
  }
  .output-container {
    font-size: 12px;
    width: 280px;
    justify-content: space-between;
  }
  .output-container button {
    width: 80px;
    height: 40px;
  }
  .output-box {
    width: 200px;
    height: 40px;
    border: solid 2px #20c20e;
  }
  .output-box:hover {
    border: solid 2px #67f856;
  }
  .loading-error {
    font-size: 12px;
    width: 280px;
    height: 60px;
  }
  /* Docs */
  .docs {
    letter-spacing: 0;
    width: 90%;
  }
  .docs h1 {
    font-size: 20px;
  }
  .docs p {
    font-size: 12px;
  }
  .divider {
    width: 90%;
  }
  /* Footer */
  .footer-container {
    font-size: 8px;
    margin-top: 30px;
    padding: 10px;
  }
  .footer-exec {
    width: 100%;
  }
}
